@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
}
.theme-1 {
  --background-color :  hsl(222, 26%, 31%);
  --screen-text-color : #fff;
  --keybad-background : hsl(223, 31%, 20%);
  --screen-background :  hsl(224, 36%, 15%);
  --top-color : #fff;
  --main-color : black ;
  --key-background :  hsl(0, 0%, 90%);
  --delete-reset-background : hsl(221, 28%, 67%);
  --delete-reset-box-shadow : hsl(224, 28%, 35%);
  --equal--bottun-background :  hsl(6, 63%, 50%);
  --key-boxshadow : hsl(28, 16%, 65%);
  --equal-btn-boxshadow : hsl(6, 70%, 34%);
  --equal-sign-color: #fff;

}
.theme-2 {
  --background-color :   hsl(0, 0%, 90%);
  --screen-text-color : hsl(0, 0%, 93%);
  --keybad-background : hsl(0, 5%, 81%);
  --screen-background :  hsl(0, 0%, 93%);
  --top-color : hsl(60, 10%, 19%);
  --main-color : black ;
  --key-background :  hsl(0, 0%, 90%);
  --delete-reset-background : hsl(185, 42%, 37%);
  --delete-reset-box-shadow :  hsl(185, 58%, 25%);
  --equal--bottun-background :  hsl(25, 98%, 40%);
  --key-boxshadow : hsl(35, 11%, 61%);
  --equal-btn-boxshadow : hsl(25, 99%, 27%);
  --equal-sign-color: #fff;

}
.theme-3 {
  --background-color :   hsl(268, 75%, 9%);
  --screen-text-color : hsl(0, 0%, 93%);
  --keybad-background :  hsl(268, 71%, 12%);
  --screen-background :  hsl(268, 71%, 12%);
  --top-color : hsl(52, 100%, 62%);
  --main-color : hsl(52, 100%, 62%);
  --key-background :  hsl(268, 75%, 9%); 
  --key-boxshadow : hsl(290, 70%, 36%);
  --delete-reset-background : hsl(281, 89%, 26%);
  --delete-reset-box-shadow : hsl(285, 91%, 52%);
  --equal--bottun-background :  hsl(176, 100%, 44%);
  --equal-btn-boxshadow : hsl(177, 92%, 70%);
  --equal-sign-color: black

}
body {
  height: 100vh;
}
.app {
  height: 100vh;
  display: grid;
  place-content: center;
  gap: 1.5rem;
  background-color: var(--background-color);
}

@media screen and (max-width : 480px) {
  header {
    width: 20rem;
  }
  .main > span {
    line-height: 2.7rem;
  }
}